@model WebApplication2.Models.ProductSeries

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductSeries</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buyTime" class="control-label"></label>
                <input asp-for="buyTime" class="form-control" />
                <span asp-validation-for="buyTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cost" class="control-label"></label>
                <input asp-for="cost" class="form-control" />
                <span asp-validation-for="cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

