
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <form method="POST" action="/Form/SaveList">
        <input type="text" name="name" id="name" />
        <input type="text" name="surname" id="surname" />
        <input type="text" name="no" id="no" />
        <input type="submit" value="ogrenciekle" />
    </form>
    <a class="nav-link text-dark" asp-area="" asp-controller="Form" asp-action="SeeList">Form</a>
    </br>
    @{ string[] sehirler = { "sakarya", "istanbul", "ankara" };
                    int dayOfWeek = Convert.ToInt32(DateTime.Now.DayOfWeek);
                    string[] days = { "pazar", "pazartesi", "salı", "carsamba", "persembe", "cuma", "cumartesi" };
    }

    <h1>Cities</h1>
    <ul>
        @foreach (string sehir in sehirler)
        {
            <li>@sehir</li>
        }
    </ul>
    <h1>DayOfWeak</h1>
    <div>@days[dayOfWeek]</div>

</div>


